@font-face {
	font-family: 'Ferrum';
	src: url('font/Ferrum-wy99.otf') format('opentype');
}

@font-face {
	font-family: 'Goudy';
	src: url('font/GoudyStMCC_Italic.otf') format('opentype');
}

@font-face {
	font-family: 'Rodeo';
	src: url('font/RODEK___.TTF') format('truetype');
}

body {
	background: #585955;
}

input[type='radio'], input[type='checkbox'], .hidden {
	display: none;
}

#creator {
	float: left;
	padding: 10px;
}

/* Card */

#card {
	float: left;
    position: relative;
    width: 2480px;
	height: 1772px;
	transform-origin: left top;
	transform: scale(0.4);
	border: 10px solid black;
	border-radius: 10px;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#card input[type='text'] {
	background: none;
	padding: 0;
	border: none;
	outline: none;
}

#card-bg {
	background: #fce9b1;
	position: absolute;
    width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

/* Card Left */

#card-frame-left {
	position: absolute;
    width: 1008px;
	height: 1772px;
	left: 0;
	top: 0;
}

#card-setting {
	position: absolute;
    width: 210px;
	height: 210px;
	left: 45px;
	top: 50px;
}

#card-gem {
	position: absolute;
    width: 176px;
	height: 178px;
	left: 62px;
	top: 72px;
}

#card-art-controller {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: move;
}

#card-art {
	position: absolute;
	width: 756px;
	left: 378px;
	top: 567px;
	transform: translate(-50%, -50%);
	pointer-events: none;
}
#card-art.pixel {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

#card-icon-controller {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: move;
}

#card-icon {
	position: absolute;
	width: 756px;
	left: 378px;
	top: 567px;
	transform: translate(-50%, -50%);
	pointer-events: none;
}
#card-icon.pixel {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

#circle {
	box-shadow: 0 0 5px 5px black;
	position: absolute;
    border: 5px solid white;
    border-radius: 50%;
    pointer-events: none;
}

#circle:after {
	content: '';
	box-shadow: inset 0 0 5px 5px black;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

/* Card Right */

#card-page {
	position: absolute;
	width: 1472px;
	height: 1772px;
	left: 1008px;
	top: 0;
}

#card-frame-right {
	position: absolute;
	width: 1472px;
	height: 1772px;
	left: 1008px;
	top: 0;
	pointer-events: none;
}

#card-logo {
	position: absolute;
	width: 614px;
	height: 218px;
	left: 1412px;
	top: 48px;
	pointer-events: none;
}

#card-info {
	font-family: 'Ferrum';
	font-size: 50px;
	position: absolute;
	width: 1314px;
	left: 1058px;
	top: 250px;
	white-space: nowrap;
}

#card-info > * {
	line-height: 100px;
	vertical-align: bottom;
}

#card-info input[type='text'] {
	font-family: 'Rodeo';
	font-size: inherit;
	vertical-align: middle;
}

#card-info .box {
	width: 54px;
	height: 54px;
	display: inline-block;
	border: 4px solid black;
	border-radius: 12px;
	box-sizing: border-box;
}

/* Card Credits */

#card-illustrator {
	position: absolute;
	right: 112px;
	top: 40px;
}

#card-origin {
	position: absolute;
	left: 112px;
	bottom: 40px;
}

.card-credits {
	color: white;
	font-family: 'Goudy';
	font-size: 32px;
}

.card-credits input[type='text'] {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

/*temp*/
#tempo{position:absolute;width:100%;height:100%;left:0;top:0;opacity:0.5;pointer-events:none;}







/* Infobox Stats */

#card-info .bubble {
	float: left;
    display: block;
	padding: 6px 2px 6px 2px;
	cursor: pointer;
}
#card-info .bubble:first-child {
	clear: left;
}
#card-info .bubble:after {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	box-sizing: border-box;
    border: 2px solid black;
    border-radius: 50%;
}
#card-info .bubble.checked:after {
	background: black;
}
@media (pointer: fine) {
	#card input[type='text']:hover {
		outline: 1px dashed gray;
	}
	#card input[type='text']:focus {
		outline: none;
	}
	#card .bubble.prospective:after {
		box-shadow: inset 0 0 6px black;
	}
	#card .bubble.checked.prospective:after {
		background: gray;
	}
}

/* Infobox Moves */

#info-moves {
	position: relative;
	margin-top: 186px;
	white-space: nowrap;
}

#info-moves > div {
	height: 65px;
	margin-bottom: 8px;
}

.move-name {
	font-family: 'Regular';
	width: 288px;
	display: block;
}

.move-pa {
	clear: left;
	width: 52px;
	font-family: 'Rodeo';
}

.move-bonus {
	font-family: 'Rodeo';
	color: red;
}

/* Infobox Symbols */

.move-icons {
	min-width: 20px;
	height: 20px;
	vertical-align: text-bottom;
	display: inline-block;
	margin: 5px;
	cursor: pointer;
}
.move-icons:empty {
	outline: 1px dashed gray;
}

.move-icons img {
	max-width: 20px;
	max-height: 20px;
	margin: 0 2px;
}
.move-icons.target img {
	outline: 1px dashed gray;
}

#info-sp {
	position: absolute;
	left: 204px;
}

@media (pointer: fine) {
	.move-icons:hover, .move-icons.target:empty:hover {
		outline: 1px dashed gray;
	}
	.move-icons.target:hover {
		outline: none;
	}
	.move-icons.target img:hover {
		outline: 2px solid red;
	}
}

/* Card Resizer */

#handle {
	position: absolute;
	right: -10px;
	top: 0;
	width: 10px;
	height: 100%;
	cursor: ew-resize;
}

#handle:hover {
	background: linear-gradient(black, gray, black);
}

#card-size {
	background: white;
	font-family: sans-serif;
	position: fixed;
	right: 0;
	top: 0;
	display: none;
	padding: 5px;
	border-radius: 0 0 0 5px;
}

/* Menus */

.menu {
	float: left;
	position: relative;
	padding: 10px;
	white-space: nowrap;
}

.menu-title {
	background-image: url('img/Nome.png');
	background-size: 100% 100%;
	font-family: 'Regular';
	font-size: 25px;
	color: white;
	padding: 20px 30px;
	width: max-content;
}

.row {
	font-family: sans-serif;
	padding: 5px 0;
}

.menu input {
	font-size: 16px;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
}
.menu input[type='file'] {
	background: white;
	width: 240px;
}
.menu .jscolor {
	width: 80px;
}

.menu label {
	background: #585955;
	font-family: 'Regular';
	font-size: 16px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
}
.menu input:checked + label {
	background: black;
	color: white;
	box-shadow: 0 0 3px white;
	border-color: white;
}

.menu input:disabled, .menu input:disabled + label {
	opacity: 0.67;
	color: gray !important;
	border-color: gray;
	border-style: dashed;
	pointer-events: none;
}

.menu input[type='number'] {
	text-align: right;
	width: 80px;
}

.menu input[type='button'] {
	cursor: pointer;
}

/* Export Helpers */

#loading {
	font-family: 'Rodeo';
	color: white;
}

#card-render {
	width: 140px;
	height: 210px;
	display: block;
}

#card-render-print {
	width: 10cm;
	height: 15cm;
	display: none;
}

/* Printing Style */

@media print {
	body {
	    background: none;
		margin: 0;
	}

	#creator { /* keep in dom to prevent height calculation issues (safari) */
		width: 0;
		height: 0;
		opacity: 0; /* because rendering ignores elements with visibility: hidden */
		overflow: hidden;
	}
	#card {
		opacity: 0;
	}
	#card-size, .menu, body > div:last-child { /* last-child for jscolor */
		display: none;
	}

	#card-render-print {
		display: initial;
	}
}
