@font-face {
	font-family: 'Ferrum';
	src: url('font/Ferrum-wy99.otf') format('opentype');
}

@font-face {
	font-family: 'Goudy';
	src: url('font/GoudyStMCC_Italic.otf') format('opentype');
}

@font-face {
	font-family: 'Rodeo';
	src: url('font/RODEK___.TTF') format('truetype');
}

body {
	background: #585955;
	margin: 10px;
}

input[type='radio'], input[type='checkbox'], .hidden {
	display: none;
}

/* Card */

#card {
	float: left;
    position: relative;
    width: 2480px;
	height: 1772px;
	transform-origin: left top;
	transform: scale(0.45); /* redundancy */
	border: 10px solid black;
	border-radius: 10px;
    margin-right: -1375px; /* redundancy */
    margin-bottom: -985.6px; /* redundancy */
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#card input[type='text'], #card textarea {
	background: none;
	padding: 0;
	border: none;
	outline: none;
}

#card-bg {
	background: #fce9b1;
	position: absolute;
    width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

/* Card Left */

#card-frame-left {
	position: absolute;
    width: 1008px;
	height: 1772px;
	left: 0;
	top: 0;
}

#card-setting {
	position: absolute;
    width: 210px;
	height: 210px;
	left: 45px;
	top: 50px;
}

#card-gem {
	position: absolute;
    width: 176px;
	height: 178px;
	left: 62px;
	top: 72px;
}

#card-hero-controller {
	position: absolute;
	width: 2480px;
	height: 1772px;
	overflow: hidden;
	cursor: move;
}
#card-icon-controller {
	position: absolute;
	width: 1008px;
	height: 300px;
	overflow: hidden;
	cursor: move;
}

#card-hero, #card-icon {
	position: absolute;
	width: 150px; /* unecessary; immediately overwritten */
	left: 150px; /* unecessary; immediately overwritten */
	top: 300px; /* unecessary; immediately overwritten */
	transform: translate(-50%, -50%);
	pointer-events: none;
}
#card-hero.pixel, #card-icon.pixel {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

#circle {
	box-shadow: 0 0 5px 5px black;
	position: absolute;
    border: 5px solid white;
    border-radius: 50%;
    pointer-events: none;
}

#circle:after {
	content: '';
	box-shadow: inset 0 0 5px 5px black;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

/* Card Right */

#card-page {
	position: absolute;
	width: 1472px;
	height: 1772px;
	left: 1008px;
	top: 0;
	pointer-events: none;
}

#card-frame-right {
	position: absolute;
	width: 2320px;
	height: 1772px;
	left: 160px;
	top: 0;
	pointer-events: none;
}

#card-logo {
	position: absolute;
	width: 614px;
	height: 218px;
	left: 1412px;
	top: 48px;
	pointer-events: none;
}

#card-info {
	font-family: 'Ferrum';
	font-size: 50px;
	position: absolute;
	width: 1314px;
	left: 1058px;
	top: 250px;
	white-space: nowrap;
}

/* Card Right Contents */

#card-info > * {
	line-height: 100px;
	vertical-align: bottom;
}

#card-info input[type='text'] {
	height: 100px;
	font-family: 'Rodeo';
	font-size: inherit;
	vertical-align: bottom;
	margin: 0 12px;
}

#card-info textarea {
	font-family: 'Rodeo';
	font-size: inherit;
	vertical-align: bottom;
	line-height: 50px;
	padding-top: 30px;
	margin: 0;
	resize: none;
}

.underlined {
	position: relative;
	display: inline-block;
}
.underlined:after {
	content: '';
	background: black;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 30px;
}

.squbble {
	width: 54px;
	height: 54px;
	display: inline-block;
	border: 4px solid black;
	border-radius: 12px;
	margin: 16px 4px 0 0;
	box-sizing: border-box;
}

.bubbleset {
	display: inline-block;
	margin: 36px 70px 0 0;
	cursor: pointer;
}

.bubble {
	float: left;
	display: block;
	width: 42px;
	height: 42px;
	border: 4px solid black;
	border-radius: 21px;
	margin: 0 2px;
	box-sizing: border-box;
}

#nome-eroe {
	width: 450px;
}
#giocatore {
	width: 404px;
}

#archetipo input {
	width: 268px;
}

#background {
	width: 1054px;
}

#mente-corpo-spirito input {
	width: 78px;
}

#card-info .centered {
	text-align: center;
	line-height: initial;
}

.memorie-row {
	display: inline-block;
}

#card-info .memorie-row input[type='text'] {
	margin: 0;
}

.memorie-text {
	width: 252px;
}

.memorie-text-disabled {
	width: 88px;
}

/* Card Credits */

#card-illustrator {
	position: absolute;
	right: 112px;
	top: 40px;
}

#card-origin {
	position: absolute;
	left: 112px;
	bottom: 40px;
}

.card-credits {
	color: white;
	font-family: 'Goudy';
	font-size: 32px;
}

.card-credits input[type='text'] {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	width: 100px;
}

@media (pointer: fine) {
	#card-icon-controller:hover {
		box-shadow: inset 0 0 100px black;
	}
	#card input[type='text']:hover {
		outline: 1px dashed gray;
	}
	#card input[type='text']:focus {
		outline: none;
	}
	#card .bubble.prospective:after {
		box-shadow: inset 0 0 6px black;
	}
	#card .bubble.checked.prospective:after {
		background: gray;
	}
}

/* Card Resizer */

#handle {
	position: absolute;
	right: -10px;
	top: 0;
	width: 10px;
	height: 100%;
	cursor: ew-resize;
}

#handle:hover {
	background: linear-gradient(black, gray, black);
}

#card-size {
	background: white;
	font-family: sans-serif;
	position: fixed;
	right: 0;
	top: 0;
	display: none;
	padding: 5px;
	border-radius: 0 0 0 5px;
}

/* Menus */

#menu {
	float: left;
	font-family: 'Goudy';
	position: relative;
	padding: 10px;
	white-space: nowrap;
}

#menu .menu-title {
	color: white;
	font-size: 25px;
	text-shadow: -3px 2px black;
	margin: 0;
}

.row {
	padding: 5px 0;
}

#menu input {
	font-size: 16px;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
}
#menu input[type='file'] {
	background: white;
	width: 240px;
}
#menu .jscolor {
	width: 80px;
}

#menu label {
	background-color: #585955;
	font-size: 16px;
	padding: 3px 5px 0 5px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
}
#menu input:checked + label {
	background-color: black;
	color: white;
	box-shadow: 0 0 3px white;
	border-color: white;
}

#swatches label {
	background-size: 125%;
	background-position: center;
	width: 40px;
	height: 20px;
	display: inline-block;
}

#swatch-1 + label {
	background-image: url('img/Gemme/gemma-01.png');
}
#swatch-2 + label {
	background-image: url('img/Gemme/gemma-02.png');
}
#swatch-3 + label {
	background-image: url('img/Gemme/gemma-03.png');
}
#swatch-4 + label {
	background-image: url('img/Gemme/gemma-04.png');
}
#swatch-5 + label {
	background-image: url('img/Gemme/gemma-05.png');
}
#swatch-6 + label {
	background-image: url('img/Gemme/gemma-06.png');
}
#swatch-7 + label {
	background-image: url('img/Gemme/gemma-07.png');
}

#menu label img {
	width: 35px;
}

#menu input:disabled, #menu input:disabled + label {
	opacity: 0.5;
	cursor: not-allowed;
}

#menu input[type='number'] {
	text-align: right;
	width: 80px;
}

#menu input[type='button'] {
	background: white;
	color: black;
	font-family: inherit;
	text-shadow: none;
	box-shadow: inset 0 0 3px black;
	padding: 3px 5px 0 5px;
	cursor: pointer;
}

/* Export Helpers */

#loading {
	color: white;
}

#card-render {
	width: 248px;
	height: 177.2px;
	display: block;
}

/* Printing Style */

@media print {
	body {
	    background: none;
		margin: 0;
	}
	#card {
		transform: initial;
		border: none;
		border-radius: 0;
	}
	#card-size, #menu, .jscolor-picker-wrap {
		display: none;
	}
}
